<widget id="br.com.mpl.recebimento" version="1.0" versionCode="1">
  <platform name="android" />
  <name>Recebimento</name>
  <icon src="www/custom/img/favicon.png" /> 
  <access origin="*" />
  <preference name="android-build-tool" value="gradle" />
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="permissions" value="none" />
  <preference name="prerendered-icon" value="true" />
  <preference name="android-windowSoftInputMode" value="adjustPan" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-targetSdkVersion" value="28" />
  <!--<plugin spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git#bd82b3f" />-->
  <plugin name="phonegap-plugin-barcodescanner">
    <variable name="CAMERA_USAGE_DESCRIPTION" value="Leitura de Código de Barras" />
  </plugin>
  <plugin name="cordova-plugin-screen-orientation" spec="3.0.2" />
  <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
</widget>
