<widget id="br.com.mpl.recebimento" version="1.0" versionCode="1">
  <platform name="android" />
  <name>Recebimento</name>
  <icon src="www/custom/img/favicon.png" /> 
  <access origin="*" />
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="permissions" value="none" />
  <preference name="prerendered-icon" value="true" />

</widget>
